
/*universal styles*/

body {
  margin: auto;
  font-size: 16px;
  font-family: Raleway, lato, sans-serif;
}

.container {
  text-align: center;
  margin: auto;
/*  padding-left: 1em;
  padding-right: 1em;*/
  background-color: white;
  /*background-color: rgb(200, 200, 240);*/
  /*background-image: url("./images/keyboard.jpg");*/
}

.info {
  color: black;
  text-align: center;
  background-color: rgb(200, 200, 240);
  /*background-color: rgb(160, 120, 150);*/
  /*border: 2px solid black;*/
  margin: auto;
  padding: 50px;
  font-size: 1.3em;

}

.about {
  display: flex;
  width: auto;
  height: 200px;
  overflow: scroll;
  background-color: #;

}

.fa-5x {
  color: black;
  /*color: rgb(92, 100, 200);*/
}

#move {

}

/*header nav*/

.header {
  display: flex;
  position: fixed;
  width: 100%;
  height: 4em;
  padding-bottom: 1em;
  margin-top: 0px;
  background-color: rgb(240, 100, 90);
  /*background-color: #494e6b;*/
  border-bottom: 3px solid black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.logo {
  display: flex;
  align-items:flex-end;
  height: 50%;
  margin-top: 1.9em;
  margin-left: 1.9em;
  padding-right: 0.7em;
  font-family: lato;
  color: black;
  border-right: 2px solid black;
}

.web-title h1 {
  font-size: 1.11em;
  margin: 0px;
  margin-bottom: 2px;
  margin-left: 1px;
}

.links {
  display: flex;
  flex-grow: 1;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 15%;
  margin-left: 2em;
}

.links span  {
  margin-right: 2em;
}

.links span a {
  color: black;
  text-decoration: none;
}

.links span a:hover{
    text-decoration: underline;
}


/*main image*/

.main-image {
  overflow: hidden;
  text-align: center;
  width: 100%;
  max-height: 300px;
  padding-top: 0px;
  margin-top: 0;
  background-image: url("./images/nature.jpg");
}

 .main-image img {
   width: 100%;
   min-height: 300px;
 }


 /*gallery items and github link*/

 .git-img {
   color: white;
   padding-top: 20px;
   padding-bottom: 20px;
   background-color: white;
 }

 .git-img p {
   color: black;
   background-color: none;

 }

.git-img a{
  color: ;
}

.fa-github {
  color: black;
  background-color: none;
}

.work-ex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: ;
}

.work-ex .img {
  background-color: rgb(240, 100, 90);
  box-shadow: 3px 3px black;
  border: 2px dotted black;
  border-radius: 30px;
  margin: 20px;
}

 .img p {
   width: 18em;
   margin: 10px;
   color:black;
   font-weight: bold;
   text-shadow: 1px 1px black;


 }

 /*footer*/

 .footer {
   display: flex;
   align-items: center;
   margin: 0px;
   padding: 20px;
   color: black;
   width: auto;
   height: 3em;
   border-top: 3px solid black;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   background-color: rgb(240, 100, 90);
   font-family: lato;
 }

 .footer span {
   margin-right: 30px;
 }

 .footer a {
   color: black;
   text-decoration: none;
   font-family: raleway;
 }

 .footer a:hover{
    text-decoration: underline;
 }
