body {
  font-size: 16px;
  font-family: Raleway, lato, sans-serif;
}


/*header nav*/

.header {
  display: flex;
  justify-content: space-between;
  font-size: 1.25em;
  background-color: #98878f;
  border-bottom: 4px solid #192231;
  border-left: 2px solid #192231;
  border-right: 2px solid #192231;
  border-top: 1px solid #192231;
  padding: 10px;
  padding-top: 30px;
  padding-bottom: 30px;

}

.logo {
  display: flex;
  justify-content: flex-start;
  flex-grow: 2;
  color: #f9f1f1;
  text-shadow: 2px 2px rgb(100, 100, 100);
  border-right: 1px solid #f9f1f1;

  margin-right: 3em;
  padding-right: 10px;
}

.header span a {
  flex-grow: 1;
  color: #f9f1f1;
  text-shadow: 2px 2px rgb(100, 100, 100);
  text-decoration: none;
  font-weight: bold;
  margin-right: 20px;
}

.header span a:hover {
  color: #192231;
}
